html {
    
}

/* ############################################
PRINCIPAL
###############################################*/
body {
    background: #0f0c29;
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); 
    height: 100vh;
    color: #fff;
    font-family: 'Roboto', sans-serif;  
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50px auto auto 30px;
    grid-template-areas:
        'header header'
        'relogio relogio'
        'dia-semana data'
        'footer footer';
}

@media screen and (max-width: 500px){
    body {
        grid-template-rows: 50px repeat(3, auto) 37px;
        grid-template-areas:    
            'header header'
            'relogio relogio'
            'dia-semana dia-semana'
            'data data'
            'footer footer';
    }
}

header {grid-area: header;}
#relogio {grid-area: relogio;}
#dia-semana {grid-area: dia-semana;}
#data {grid-area: data;}
footer {grid-area: footer;}

/* ############################################
HEADER
###############################################*/
header {
    padding: 10px;
    background: #2b5876;
    background: -webkit-linear-gradient(to right, #4e4376, #2b5876);
    background: linear-gradient(to right, #4e4376, #2b5876); 
    text-align: center;
    box-shadow: 0px 10px 25px rgba(33, 33, 33, 0.25);
    border-bottom: 3px solid rgba(0, 0, 0, 0.04);
}

header h1 {
    font-size: 25px;
    font-weight: 400;
    margin: 0;
}

/* ############################################
RELOGIO
###############################################*/
#relogio {    
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#relogio .container {
    width: 100%;
    
}

#relogio .container .horario {
    display: flex;
    text-align: center;
    font-size: 150px;
}

#relogio .horario .hora, #relogio .horario .minuto, #relogio .horario .segundo {
    width: 100%;
    max-width: 250px;
}

/* Tablet */
@media screen and (max-width: 900px){
    #relogio .container .horario {
        font-size: 100px;
    }
}
/* Mobile */
@media screen and (max-width: 500px){
    #relogio {
        padding: 7px;
    }

    #relogio .container .horario {
        font-size: 39px;
    }
}

/* ############################################
DIA DA SEMANA
###############################################*/
#dia-semana {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

#dia-semana .container {
    font-size: 70px;
    width: 100%;
}

/* Tablet */
@media screen and (max-width: 900px){
    #dia-semana .container {
        font-size: 50px;
    }
}

/* Mobile */
@media screen and (max-width: 500px){
    #dia-semana {
        padding: 7px;
    }

    #dia-semana .container {
        font-size: 30px;
    }
}

/* ############################################
DATA
###############################################*/
#data {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

#data .container {
    width: 100%;
}

#data .container .caixa-data {
    font-size: 35px;
}

/* Tablet */
@media screen and (max-width: 900px){
    #data .container .caixa-data {
        font-size: 25px;
    }
}
/* Mobile */
@media screen and (max-width: 500px){
    #data {
        padding: 7px;
    }

    #data .container .caixa-data {
        font-size: 17px;
    }
}


/* ############################################
FOOTER
###############################################*/
footer {
    padding: 7px;
    background: #0f0c29;
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29); 
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);    
}

footer .container p {
    font-size: 12px;
    font-weight: 100;
    text-align: center;
    margin: 0;
}


/* ############################################
USO GERAL
###############################################*/
.caixa-titulo {
    font-weight: 100;
    font-size: 25px;
    margin: 0;
    background-color: rgba(131, 131, 131, 0.07);
    padding: 5px 10px;
    border-radius: 10px 10px 0 0;
}

.caixa-conteudo {
    background: #2b5876;
    background: -webkit-linear-gradient(to right, #4e4376, #2b5876);
    background: linear-gradient(to right, #4e4376, #2b5876); 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 210px;
    font-weight: 100;
    border-radius: 0 0 25px 25px;
    box-shadow: 0px 5px 25px rgba(33, 33, 33, 0.17);
    padding: 15px;
    
}

/* Tablet */
@media screen and (max-width: 900px){
    .caixa-titulo {
        font-size: 21px;
     }

    .caixa-conteudo {
        min-height: 150px;
        padding: 15px; 
    }
}
/* Mobile */
@media screen and (max-width: 500px){
    .caixa-titulo {
        font-size: 15px;
    }

    .caixa-conteudo {
        min-height: 70px;
        padding: 10px;
    }
}