/* ############################################
USO GERAL
###############################################*/
html {
    
}

body {
    height: 100vh;
    color: #fff;
    font-family: 'Roboto', sans-serif;  
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 50px 1fr 5%;
    grid-template-areas: 
        'header header'
        'aside principal'
        'footer footer';
}

@media screen and (max-width: 500px){
    body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50px 1fr 35px;;
        grid-template-areas: 
        'header'
        'principal'
        'footer';
    }
}

header      {grid-area: header;}
aside       {grid-area: aside;}
#principal  {grid-area: principal;}
#relogio    {grid-area: relogio;}
#dia-semana {grid-area: dia-semana;}
#data       {grid-area: data;}
footer      {grid-area: footer;}

#principal {
    padding: 15px;
}

.fundo-manha {
    background-image: url(../img/fundo-manha-01.jpg);
    background-size: cover;
}

.fundo-tarde {
    background-image: url(../img/fundo-tarde-01.jpg);
    background-size: cover;
}

.fundo-noite {
    background-image: url(../img/fundo-noite-01.jpg);
    background-size: cover;
}

.caixa-titulo {
    font-weight: 100;
    font-size: 25px;
    margin: 0;
    background-color: rgba(73, 73, 73, 0.5);
    padding: 5px;
    border-radius: 10px 10px 0 0;
}

.caixa-conteudo {
    background: rgba(21, 21, 21, 0.55);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 280px;
    font-weight: 100;
    border-radius: 0 0 25px 25px;
}

/* Tablet */
@media screen and (max-width: 900px){
    .caixa-titulo {
        font-size: 21px;
     }

    .caixa-conteudo {
        min-height: 250px;
        padding: 15px; 
    }
}
/* Mobile */
@media screen and (max-width: 500px){
    .caixa-titulo {
        font-size: 15px;
    }

    .caixa-conteudo {
        min-height: 150px;
    }
}

/* ############################################
NAVEGACAO/SIDEBAR
###############################################*/
aside {
    background: rgba(58, 58, 58, 0.24);
    padding: 10px 0;
}

aside nav ul {
    margin: 0;
}
aside nav ul li {
    list-style: none;
    margin-left: -32px;
}
aside nav ul li button {
    color: #fff;
    font-size: 25px;
    background-color: transparent;
    border: none;
    margin: 0;
    cursor: pointer;
}

@media screen and (max-width: 500px){
    aside{
        display: none;
    }
}

/* ############################################
PRINCIPAL
###############################################*/
.grid-inicial {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        'relogio relogio'
        'dia-semana data';
    grid-gap: 15px;    
}

@media screen and (max-width: 500px){
    .grid-inicial, .grid-b, .grid-c {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            'relogio'
            'dia-semana'
            'data';  
    }
}

.grid-b {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        'relogio dia-semana'
        'relogio data';
    grid-gap: 15px;    
}

@media screen and (max-width: 750px){
    .grid-b {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            'relogio'
            'dia-semana'
            'data'; 
    }
}

.grid-c {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        'data dia-semana'
        'relogio relogio';
    grid-gap: 15px;    
}

@media screen and (max-width: 500px){
    .grid-c {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            'data'
            'dia-semana'
            'relogio';  
    }
}

/* ############################################
HEADER
###############################################*/
header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(58, 58, 58, 0.24);
}

header h1 {
    font-size: 25px;
    font-weight: 400;
    margin: 0;
}

/* ############################################
RELOGIO
###############################################*/
#relogio {
    
}

#relogio .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    height: 100%;
}

#relogio .container .horario {
    text-align: center;
    font-size: 150px;
}

#relogio .horario .hora, 
#relogio .horario .minuto, 
#relogio .horario .segundo {
    width: 100%;
    max-width: 250px;
}

/* Tablet */
@media screen and (max-width: 900px){
    #relogio .container .horario {
        font-size: 100px;
    }
}
/* Mobile */
@media screen and (max-width: 500px){
    #relogio .container .horario {
        font-size: 39px;
    }
}

/* ############################################
DIA DA SEMANA
###############################################*/
#dia-semana {
}

#dia-semana .container {
    font-size: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    height: 100%;
}

/* Tablet */
@media screen and (max-width: 900px){
    #dia-semana .container {
        font-size: 50px;
    }
}
/* Mobile */
@media screen and (max-width: 500px){
    #dia-semana .container {
        font-size: 30px;
    }
}

/* ############################################
DATA
###############################################*/
#data {
}

#data .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    height: 100%;
}

#data .container .caixa-data {
    font-size: 35px;
}

/* Tablet */
@media screen and (max-width: 900px){
    #data .container .caixa-data {
        font-size: 25px;
    }
}
/* Mobile */
@media screen and (max-width: 500px){
    #data .container .caixa-data {
        font-size: 17px;
    }
}

/* ############################################
FOOTER
###############################################*/
footer {
    background: rgba(58, 58, 58, 0.24);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .container p {
    font-size: 12px;
    font-weight: 100;
    margin: 0;
}